@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ */
/* ╨Ь╨╕╨║╤Б╨╕╨╜╤Л */
/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* line 6, ../sass/_btn.scss */
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* line 11, ../sass/_btn.scss */
.btn-ghost {
  font-size: 18px !important;
  line-height: 18px !important;
  color: #3D4045;
  border: 2px solid #9A6A2B;
  border-radius: 20px;
  background-color: transparent;
  padding: 9px 30px;
}
/* line 19, ../sass/_btn.scss */
.btn-ghost:hover {
  background-color: #9A6A2B;
  color: white;
}

/* line 24, ../sass/_btn.scss */
.btn-mail {
  height: 20px;
  width: 22px;
  background: url("../img/svg/envelope.svg") no-repeat center;
  background-size: contain;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 0;
  display: none;
  z-index: 1;
}
/* line 35, ../sass/_btn.scss */
.btn-mail:hover {
  opacity: 0.8;
}

/* line 39, ../sass/_btn.scss */
.mobil-collapse__btn {
  display: none;
  border: none;
  outline: none;
  background: url("../img/svg/close.svg") no-repeat transparent center;
  background-size: contain;
  height: 15px;
  width: 25px;
  flex-shrink: 0;
  z-index: 1;
}
/* line 43, ../sass/_btn.scss */
.mobil-collapse__btn.collapsed {
  background: url("../img/svg/menu.svg") no-repeat transparent center;
  background-size: contain;
}
/* line 53, ../sass/_btn.scss */
.mobil-collapse__btn:hover, .mobil-collapse__btn:focus {
  border: none;
  outline: none;
}

/* ╨Ъ╨╜╨╛╨┐╨║╨╕ */
/* line 2, ../sass/_ico.scss */
.ico__home {
  background: url("../img/svg/home.svg") no-repeat center;
  background-size: contain;
  font-size: 0 !important;
  color: transparent !important;
  vertical-align: middle !important;
}
/* line 9, ../sass/_ico.scss */
.ico__facebook {
  background: url("../img/svg/fb.svg") no-repeat center;
  background-size: contain;
}
/* line 13, ../sass/_ico.scss */
.ico__vkontakte {
  background: url("../img/svg/vk.svg") no-repeat center;
  background-size: contain;
}
/* line 17, ../sass/_ico.scss */
.ico__odnoklasniki {
  background: url("../img/svg/ok.svg") no-repeat center;
  background-size: contain;
}
/* line 21, ../sass/_ico.scss */
.ico__instagram {
  background: url("../img/svg/insta.svg") no-repeat center;
  background-size: contain;
}
/* line 25, ../sass/_ico.scss */
.ico__youtube {
  background: url("../img/svg/you_tube_play.svg") no-repeat center;
  background-size: contain;
}
/* line 29, ../sass/_ico.scss */
.ico__close {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0;
  padding: 0;
  background: url("../img/svg/close.svg") no-repeat center;
  background-size: contain;
  color: transparent;
  font-size: 0;
  vertical-align: top;
}

/* ╨Ш╨║╨╛╨╜╨║╨╕ */
/* line 2, ../sass/_modal.scss */
.modal-dialog {
  max-width: 920px;
}
/* line 5, ../sass/_modal.scss */
.modal-content {
  border: 0;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.4);
}
/* line 11, ../sass/_modal.scss */
.modal-header {
  padding-top: 65px;
  padding-bottom: 60px;
  border: 0;
  border-radius: 0;
}
/* line 17, ../sass/_modal.scss */
.modal-title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 53px;
  color: #9A6A2B;
}
/* line 27, ../sass/_modal.scss */
.modal__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10%;
}
/* line 32, ../sass/_modal.scss */
.modal__form__item {
  position: relative;
  margin-bottom: 25px;
}
/* line 35, ../sass/_modal.scss */
.modal__form__item__capcha {
  height: 50px;
  width: 250px;
  background-color: grey;
  margin: 0 auto;
}
/* line 41, ../sass/_modal.scss */
.modal__form__item__placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}
/* line 47, ../sass/_modal.scss */
.modal__form__item__wrap {
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  min-height: 40px;
  position: relative;
}
/* line 53, ../sass/_modal.scss */
.modal__form__item__wrap.text-area {
  height: 80px;
}
/* line 55, ../sass/_modal.scss */
.modal__form__item__wrap.text-area textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 10px 15px;
}
/* line 64, ../sass/_modal.scss */
.modal__form__item__wrap.file-input {
  position: relative;
}
/* line 66, ../sass/_modal.scss */
.modal__form__item__wrap.file-input:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  height: 24px;
  width: 24px;
  transform: translateY(-50%);
  background: url("../img/svg/paperclip.svg") no-repeat center;
  background-size: contain;
}
/* line 78, ../sass/_modal.scss */
.modal__form__item__wrap.file-input .modal__form__item__wrap__label {
  height: 100%;
  margin: 0;
  line-height: 38px;
  float: right;
  min-height: 38px;
  display: inline-block;
  background-color: #808080;
  padding: 0 30px;
  color: white;
  cursor: pointer;
}
/* line 90, ../sass/_modal.scss */
.modal__form__item__wrap.file-input .modal__form__item__wrap__input {
  display: none;
}
/* line 94, ../sass/_modal.scss */
.modal__form__item__wrap__input {
  width: 100%;
  min-height: 38px;
  border: none;
  outline: none;
  padding: 0 15px;
}
/* line 104, ../sass/_modal.scss */
.modal-button {
  position: absolute;
  right: 33px;
  top: 33px;
}

/* line 110, ../sass/_modal.scss */
.scroll-to-top {
  position: fixed;
  height: 0;
  min-height: 0;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 117, ../sass/_modal.scss */
.scroll-to-top__ico {
  position: absolute;
  display: inline-block;
  top: 0;
  right: -65px;
  transform: translateX(100%) rotate(90deg);
  height: 80px;
  width: 80px;
  background: url("../img/svg/chevron-left.svg") no-repeat center rgba(0, 0, 0, 0.4);
  background-size: 20px auto;
}

/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* line 6, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  overflow-x: hidden;
}
/* line 12, ../sass/style.scss */
body a {
  color: #3D4045;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
/* line 18, ../sass/style.scss */
body p {
  color: #3D4045;
  font-size: 16px;
  line-height: 22px;
}
/* line 23, ../sass/style.scss */
body span {
  color: #3D4045;
  font-size: 16px;
  line-height: 22px;
}
/* line 28, ../sass/style.scss */
body h1 {
  color: #3D4045;
  font-size: 40px;
  line-height: 53px;
}
/* line 33, ../sass/style.scss */
body h2 {
  color: #3D4045;
  font-size: 24px;
  line-height: 32px;
}
/* line 38, ../sass/style.scss */
body h3 {
  color: #3D4045;
  font-size: 18px;
  line-height: 24px;
}
/* line 43, ../sass/style.scss */
body h4 {
  color: #3D4045;
  font-size: 17px;
  line-height: 22px;
}
/* line 48, ../sass/style.scss */
body h5 {
  color: #3D4045;
  font-size: 16px;
  line-height: 20px;
}
/* line 53, ../sass/style.scss */
body h6 {
  color: #3D4045;
  font-size: 14px;
  line-height: 18px;
}

/* ╨б╤В╨╕╨╗╤М ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
/* line 2, ../sass/_header.scss */
.header__navigation {
  padding: 30px 15px;
}
/* line 4, ../sass/_header.scss */
.header__navigation .row {
  position: relative;
}
/* line 7, ../sass/_header.scss */
.header__navigation__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 80px;
}
/* line 14, ../sass/_header.scss */
.header__navigation__group {
  height: 76px;
  display: flex;
  align-items: center;
}
/* line 18, ../sass/_header.scss */
.header__navigation__group .link-mail {
  white-space: nowrap;
}
/* line 20, ../sass/_header.scss */
.header__navigation__group .link-mail:hover {
  text-decoration: none;
}
/* line 22, ../sass/_header.scss */
.header__navigation__group .link-mail:hover span {
  opacity: 0.8;
}
/* line 26, ../sass/_header.scss */
.header__navigation__group .link-mail img {
  display: inline-block;
  margin-right: 15px;
  max-width: 15px;
  max-height: 15px;
}
/* line 32, ../sass/_header.scss */
.header__navigation__group .link-mail span {
  display: inline-block;
  text-decoration: underline;
  font-size: 16px;
}
/* line 38, ../sass/_header.scss */
.header__navigation__group ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 45, ../sass/_header.scss */
.header__navigation__group ul li {
  display: inline-block;
}
/* line 47, ../sass/_header.scss */
.header__navigation__group ul li a {
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  color: #3D4045;
  white-space: nowrap;
}
/* line 57, ../sass/_header.scss */
.header__navigation__group.group__social {
  padding-right: 50px;
}
/* line 59, ../sass/_header.scss */
.header__navigation__group.group__social ul {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
/* line 63, ../sass/_header.scss */
.header__navigation__group.group__social ul li {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 35px;
}
/* line 68, ../sass/_header.scss */
.header__navigation__group.group__social ul li:hover {
  opacity: 0.8;
}
/* line 71, ../sass/_header.scss */
.header__navigation__group.group__social ul li a {
  width: 100%;
  height: 100%;
}
/* line 78, ../sass/_header.scss */
.header__navigation__group.group__call-back {
  padding-left: 50px;
}
/* line 80, ../sass/_header.scss */
.header__navigation__group.group__call-back ul {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
/* line 84, ../sass/_header.scss */
.header__navigation__group.group__call-back ul li {
  margin-left: 65px;
}
/* line 96, ../sass/_header.scss */
.header__navigation__group.group__nav-bar .group__nav-bar__separate {
  width: 100px;
  flex-grow: 1;
}
/* line 99, ../sass/_header.scss */
.header__navigation__group.group__nav-bar .group__nav-bar__separate:hover {
  border: none;
}
/* line 103, ../sass/_header.scss */
.header__navigation__group.group__nav-bar ul {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/* line 107, ../sass/_header.scss */
.header__navigation__group.group__nav-bar ul li {
  margin: 0 5px;
  padding: 0 5px 10px 5px;
  position: relative;
  border-bottom: 2px solid transparent;
}
/* line 112, ../sass/_header.scss */
.header__navigation__group.group__nav-bar ul li.active {
  border-bottom: 2px solid #9A6A2B;
}
/* line 115, ../sass/_header.scss */
.header__navigation__group.group__nav-bar ul li:hover {
  border-bottom: 2px solid #9A6A2B;
  opacity: 0.8;
}
/* line 119, ../sass/_header.scss */
.header__navigation__group.group__nav-bar ul li img {
  height: 100%;
}
/* line 122, ../sass/_header.scss */
.header__navigation__group.group__nav-bar ul li a {
  min-width: 20px;
  min-height: 15px;
  position: relative;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 129, ../sass/_header.scss */
.header__navigation__group.group__nav-bar ul li a:hover {
  text-decoration: none;
}
/* line 139, ../sass/_header.scss */
.header__showing {
  position: relative;
  padding: 145px 0 105px 0;
  background-color: black;
}
/* line 143, ../sass/_header.scss */
.header__showing h1 {
  display: inline-block;
  margin: 0 auto;
  color: white;
  padding: 15px 80px;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  text-transform: uppercase;
  position: relative;
}
/* line 153, ../sass/_header.scss */
.header__showing__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 159, ../sass/_header.scss */
.header__showing__bg.bg-project {
  background: url("../img/ekaterinburg-3423344_CC0 Creative Commons.jpg") no-repeat black center 30%;
  background-size: cover;
  opacity: 0.8;
}
/* line 164, ../sass/_header.scss */
.header__showing__bg.bg-media {
  background: url("../img/ekaterinburg-3423336_CC0 Creative Commons.jpg") no-repeat black center 30%;
  background-size: cover;
  opacity: 0.8;
}
/* line 169, ../sass/_header.scss */
.header__showing__bg.bg-news {
  background: url("../img/businessman-1197567_CC0 Creative Commons.jpg") no-repeat black center 30%;
  background-size: cover;
  opacity: 0.8;
}
/* line 176, ../sass/_header.scss */
.header__breadcrumbs {
  background-color: #EEEEEE;
}
/* line 178, ../sass/_header.scss */
.header__breadcrumbs__wrapp {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}
/* line 187, ../sass/_header.scss */
.header__breadcrumbs__crumbs {
  max-width: 80%;
}
/* line 189, ../sass/_header.scss */
.header__breadcrumbs__crumbs ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* line 198, ../sass/_header.scss */
.header__breadcrumbs__crumbs ul li {
  margin-right: 22px;
  margin-bottom: 0;
  position: relative;
}
/* line 203, ../sass/_header.scss */
.header__breadcrumbs__crumbs ul li:last-of-type:after {
  width: 0;
}
/* line 207, ../sass/_header.scss */
.header__breadcrumbs__crumbs ul li:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  top: 50%;
  right: -15px;
  transform: translateY(-45%);
  background: url("../img/svg/angle-right.svg") no-repeat center;
  background-size: contain;
}
/* line 218, ../sass/_header.scss */
.header__breadcrumbs__crumbs ul li a {
  font-size: 16px;
  line-height: 22px;
  color: #3D4045;
  text-decoration: underline;
}
/* line 223, ../sass/_header.scss */
.header__breadcrumbs__crumbs ul li a:hover {
  color: #3D4045;
  opacity: 0.8;
}
/* line 231, ../sass/_header.scss */
.header__breadcrumbs__search {
  display: inline-block;
}
/* line 233, ../sass/_header.scss */
.header__breadcrumbs__search a {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
}
/* line 238, ../sass/_header.scss */
.header__breadcrumbs__search a img {
  max-height: 100%;
}

/* ╨и╨░╨┐╨║╨░ */
/* line 1, ../sass/_project.scss */
.pages-nav {
  padding: 40px 0;
}
/* line 3, ../sass/_project.scss */
.pages-nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
/* line 10, ../sass/_project.scss */
.pages-nav__bar .control__left {
  display: inline-block;
  margin: 0 30px;
  height: 12px;
  width: 8px;
  background: url("../img/svg/angle-left.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  flex-shrink: 0;
}
/* line 20, ../sass/_project.scss */
.pages-nav__bar .control__right {
  display: inline-block;
  margin: 0 30px;
  height: 12px;
  width: 8px;
  background: url("../img/svg/angle-right.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  flex-shrink: 0;
}
/* line 31, ../sass/_project.scss */
.pages-nav__bar ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}
/* line 39, ../sass/_project.scss */
.pages-nav__bar ul li {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin: 0;
  text-align: center;
  position: relative;
  border: 2px solid transparent;
}
/* line 47, ../sass/_project.scss */
.pages-nav__bar ul li.active {
  border: 2px solid #9A6A2B;
}
/* line 49, ../sass/_project.scss */
.pages-nav__bar ul li.active a {
  color: #9A6A2B;
}
/* line 53, ../sass/_project.scss */
.pages-nav__bar ul li a {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.4);
}
/* line 61, ../sass/_project.scss */
.pages-nav__bar ul li a:hover {
  text-decoration: none;
  color: #9A6A2B;
}

/* line 70, ../sass/_project.scss */
.project-pg {
  margin-top: 20px;
}
/* line 72, ../sass/_project.scss */
.project-pg__card {
  background-color: #9A6A2B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px;
  overflow: hidden;
  height: 480px;
  text-decoration: none;
  margin-bottom: 30px;
}
/* line 85, ../sass/_project.scss */
.project-pg__card.photo-mod .project-pg__card__img__shadows {
  display: none;
}
/* line 90, ../sass/_project.scss */
.project-pg__card.photo-mod:hover .project-pg__card__title {
  flex-grow: 1;
}
/* line 93, ../sass/_project.scss */
.project-pg__card.photo-mod:hover .project-pg__card__sub-title {
  flex-grow: 3;
}
/* line 99, ../sass/_project.scss */
.project-pg__card:hover {
  text-decoration: none;
  color: white;
}
/* line 104, ../sass/_project.scss */
.project-pg__card:hover .project-pg__card__img img {
  opacity: 0;
}
/* line 107, ../sass/_project.scss */
.project-pg__card:hover .project-pg__card__img__shadows {
  box-shadow: inset 0px -100px 80px -30px transparent;
}
/* line 111, ../sass/_project.scss */
.project-pg__card:hover .project-pg__card__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  top: 0;
  transform: translateY(0);
}
/* line 119, ../sass/_project.scss */
.project-pg__card:hover .project-pg__card__time {
  opacity: 1;
}
/* line 122, ../sass/_project.scss */
.project-pg__card:hover .project-pg__card__number {
  opacity: 0;
}
/* line 125, ../sass/_project.scss */
.project-pg__card:hover .project-pg__card__sub-title {
  top: 0;
}
/* line 128, ../sass/_project.scss */
.project-pg__card:hover .project-pg__card__link {
  top: 0;
}
/* line 133, ../sass/_project.scss */
.project-pg__card__number {
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #9A6A2B;
  padding: 8px 22px;
  margin: 0;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  font-weight: bold;
  opacity: 1;
  transition: all linear 0.1s;
  white-space: nowrap;
}
/* line 148, ../sass/_project.scss */
.project-pg__card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all linear 0.3s;
}
/* line 155, ../sass/_project.scss */
.project-pg__card__img__shadows {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0px -100px 80px -30px rgba(0, 0, 0, 0.7);
  transition: all linear 0.3s;
}
/* line 164, ../sass/_project.scss */
.project-pg__card__img img {
  position: relative;
  left: 50%;
  min-height: 100%;
  transform: translateX(-50%);
  transition: all linear 0.3s;
}
/* line 172, ../sass/_project.scss */
.project-pg__card__title {
  width: 100%;
  position: relative;
  color: white;
  font-size: 18px;
  top: 100%;
  transform: translateY(-100%);
  transition: all linear 0.3s;
  margin-bottom: 15px;
  margin-top: 1px;
}
/* line 183, ../sass/_project.scss */
.project-pg__card__time {
  width: 100%;
  position: relative;
  color: white;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: all linear 0.3s;
  margin-bottom: 30px;
}
/* line 193, ../sass/_project.scss */
.project-pg__card__sub-title {
  position: relative;
  color: white;
  font-size: 18px;
  margin: 0;
  top: 100%;
  transition: all linear 0.3s;
}
/* line 201, ../sass/_project.scss */
.project-pg__card__link {
  position: relative;
  font-size: 20px;
  color: white;
  padding-right: 20px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  top: 100%;
  transition: all linear 0.3s;
  background-color: transparent;
  border: none;
  outline: none;
}
/* line 215, ../sass/_project.scss */
.project-pg__card__link:focus {
  background-color: transparent;
  border: none;
  outline: none;
}
/* line 220, ../sass/_project.scss */
.project-pg__card__link:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  outline: none;
}
/* line 228, ../sass/_project.scss */
.project-pg__card__link:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: url("../img/svg/chevron-right.svg") no-repeat center;
  background-size: contain;
}

/* ╨б╤В╤А╨░╨╜╨╕╤Ж╨░ ╨Я╤А╨╛╨╡╨║╤В╤Л  */
/* line 1, ../sass/_pg-media.scss */
.video-about {
  background-color: rgba(154, 106, 43, 0.25);
  padding: 50px 0;
  margin-bottom: 75px;
}
/* line 5, ../sass/_pg-media.scss */
.video-about__container {
  position: relative;
  width: 100%;
  padding: 0 15px;
}
/* line 9, ../sass/_pg-media.scss */
.video-about__container:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: url("../img/svg/btn_youtube.svg") no-repeat center;
  background-size: contain;
}
/* line 20, ../sass/_pg-media.scss */
.video-about__container img {
  width: 100%;
}
/* line 24, ../sass/_pg-media.scss */
.video-about p {
  color: #3D4045;
  font-size: 26px;
  line-height: 34px;
  padding: 0 20%;
  text-align: center;
  margin-top: 20px;
}

/* line 34, ../sass/_pg-media.scss */
.pages-tab__nav {
  position: relative;
  width: 100%;
  padding: 0 15px;
  border: none !important;
}
/* line 39, ../sass/_pg-media.scss */
.pages-tab__nav:before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 48, ../sass/_pg-media.scss */
.pages-tab__nav label {
  height: 30px;
  width: 2px;
  margin: 0 22px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 54, ../sass/_pg-media.scss */
.pages-tab__nav__item {
  padding: 0;
  cursor: pointer;
}
/* line 57, ../sass/_pg-media.scss */
.pages-tab__nav__item__link {
  display: inline-block;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 0 20px 0;
  border: none !important;
  position: relative;
}
/* line 64, ../sass/_pg-media.scss */
.pages-tab__nav__item__link.active {
  color: #3D4045;
  border: none !important;
  background-color: transparent !important;
}
/* line 68, ../sass/_pg-media.scss */
.pages-tab__nav__item__link.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #9A6A2B;
}
/* line 78, ../sass/_pg-media.scss */
.pages-tab__nav__item__link:hover {
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  border: none !important;
}

/* line 87, ../sass/_pg-media.scss */
.video-pg {
  margin-top: 20px;
}
/* line 89, ../sass/_pg-media.scss */
.video-pg__card {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}
/* line 93, ../sass/_pg-media.scss */
.video-pg__card:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: url("../img/svg/btn_youtube.svg") no-repeat center;
  background-size: contain;
  z-index: 1;
}
/* line 105, ../sass/_pg-media.scss */
.video-pg__card img {
  width: 100%;
}

/* ╨б╤В╤А╨░╨╜╨╕╤Ж╨░ ╨Ь╨╡╨┤╨╕╨░ */
/* line 1, ../sass/_pg-photo.scss */
.photo-more {
  padding-top: 30px;
  margin-bottom: 30px;
}
/* line 4, ../sass/_pg-photo.scss */
.photo-more .d-flex {
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
/* line 9, ../sass/_pg-photo.scss */
.photo-more__time {
  position: relative;
  padding-left: 25px;
  color: #3D4045;
  font-size: 14px;
  display: inline-block;
  margin: 0 auto;
}
/* line 16, ../sass/_pg-photo.scss */
.photo-more__time:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url("../img/svg/access_time.svg") no-repeat center;
  background-size: contain;
}
/* line 28, ../sass/_pg-photo.scss */
.photo-more__title {
  color: #3D4045;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 34, ../sass/_pg-photo.scss */
.photo-more__number {
  white-space: nowrap;
  display: inline-block;
  color: white;
  background-color: #9A6A2B;
  padding: 5px 30px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
/* line 44, ../sass/_pg-photo.scss */
.photo-more__par {
  font-size: 18px;
  line-height: 24px;
  color: #3D4045;
  max-width: 700px;
  margin-bottom: 15px;
}
/* line 50, ../sass/_pg-photo.scss */
.photo-more__par a {
  text-decoration: underline;
  color: #9A6A2B;
}
/* line 53, ../sass/_pg-photo.scss */
.photo-more__par a:hover {
  color: #9A6A2B;
  opacity: 0.8;
}

/* line 61, ../sass/_pg-photo.scss */
.photo-content__card {
  margin-bottom: 30px;
  cursor: pointer;
  background-color: black;
  position: relative;
  overflow: hidden;
}
/* line 67, ../sass/_pg-photo.scss */
.photo-content__card:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background: url("../img/svg/zoom.svg") no-repeat center;
  background-size: contain;
  opacity: 0;
  z-index: 1;
}
/* line 81, ../sass/_pg-photo.scss */
.photo-content__card:hover:before {
  opacity: 1;
}
/* line 84, ../sass/_pg-photo.scss */
.photo-content__card:hover img {
  opacity: 0.6;
}
/* line 88, ../sass/_pg-photo.scss */
.photo-content__card img {
  width: 100%;
}

/* ╨б╤В╤А╨░╨╜╨╕╤Ж╨░ ╨д╨╛╤В╨╛ */
/* line 2, ../sass/_pg-news.scss */
.news__nav {
  display: flex;
  flex-direction: column;
}
/* line 5, ../sass/_pg-news.scss */
.news__nav__rubric {
  width: 100%;
  margin-bottom: 50px;
  padding: 0 30px;
}
/* line 9, ../sass/_pg-news.scss */
.news__nav__rubric h2 {
  color: #3D4045;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 14, ../sass/_pg-news.scss */
.news__nav__rubric ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* line 21, ../sass/_pg-news.scss */
.news__nav__rubric ul li {
  margin-bottom: 10px;
  width: 100%;
}
/* line 24, ../sass/_pg-news.scss */
.news__nav__rubric ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #9A6A2B;
}
/* line 29, ../sass/_pg-news.scss */
.news__nav__rubric ul li a:hover {
  opacity: 0.8;
}
/* line 36, ../sass/_pg-news.scss */
.news__nav__teg {
  width: 100%;
  background-color: #EEEEEE;
  padding: 20px 30px;
}
/* line 40, ../sass/_pg-news.scss */
.news__nav__teg h2 {
  color: #3D4045;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 45, ../sass/_pg-news.scss */
.news__nav__teg ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
/* line 53, ../sass/_pg-news.scss */
.news__nav__teg ul li {
  margin-bottom: 10px;
  margin-right: 15px;
}
/* line 56, ../sass/_pg-news.scss */
.news__nav__teg ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #9A6A2B;
}
/* line 61, ../sass/_pg-news.scss */
.news__nav__teg ul li a:hover {
  opacity: 0.8;
}
/* line 70, ../sass/_pg-news.scss */
.news__content__card {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
/* line 75, ../sass/_pg-news.scss */
.news__content__card__img {
  width: 40%;
  flex-shrink: 0;
  position: relative;
  max-height: 200px;
  overflow: hidden;
}
/* line 81, ../sass/_pg-news.scss */
.news__content__card__img img {
  width: 100%;
}
/* line 85, ../sass/_pg-news.scss */
.news__content__card__info {
  padding: 5px 0 5px 30px;
}
/* line 87, ../sass/_pg-news.scss */
.news__content__card__info__time {
  position: relative;
  padding-left: 25px;
  color: #3D4045;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 94, ../sass/_pg-news.scss */
.news__content__card__info__time:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url("../img/svg/access_time.svg") no-repeat center;
  background-size: contain;
}
/* line 106, ../sass/_pg-news.scss */
.news__content__card__info__par {
  font-size: 18px;
  color: #3D4045;
  text-align: left;
  margin-bottom: 20px;
  max-height: 110px;
  overflow: hidden;
}
/* line 114, ../sass/_pg-news.scss */
.news__content__card__info__teg {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 121, ../sass/_pg-news.scss */
.news__content__card__info__teg li {
  display: inline-block;
  margin-right: 15px;
}
/* line 124, ../sass/_pg-news.scss */
.news__content__card__info__teg li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #9A6A2B;
  word-break: break-word;
}
/* line 130, ../sass/_pg-news.scss */
.news__content__card__info__teg li a:hover {
  color: #9A6A2B;
  opacity: 0.8;
  text-decoration: none;
}

/* ╨б╤В╤А╨░╨╜╨╕╤Ж╨░ ╨Э╨╛╨▓╨╛╤Б╤В╨╕ */
/* line 3, ../sass/_pg-news__more.scss */
.content__body__title {
  font-size: 30px;
  line-height: 40px;
  margin: 20px 0;
  font-weight: bold;
}
/* line 9, ../sass/_pg-news__more.scss */
.content__body__photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
/* line 15, ../sass/_pg-news__more.scss */
.content__body__photo__item {
  min-width: 33%;
  width: 33%;
  flex-grow: 1;
  position: relative;
  padding: 0 15px;
  margin-bottom: 30px;
}
/* line 22, ../sass/_pg-news__more.scss */
.content__body__photo__item img {
  width: 100%;
}
/* line 27, ../sass/_pg-news__more.scss */
.content__body__quotes {
  margin: 10px 0;
}
/* line 29, ../sass/_pg-news__more.scss */
.content__body__quotes p {
  font-size: 26px;
  line-height: 34px;
  padding-left: 30px;
  padding-right: 45px;
  border-left: 4px solid #9A6A2B;
  margin-bottom: 20px;
}
/* line 38, ../sass/_pg-news__more.scss */
.content__body__footer {
  border-top: 2px solid #9A6A2B;
  padding-top: 25px;
  margin-bottom: 95px;
  margin-top: 40px;
}
/* line 43, ../sass/_pg-news__more.scss */
.content__body__footer__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 47, ../sass/_pg-news__more.scss */
.content__body__footer__wrap span {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 50px;
}
/* line 53, ../sass/_pg-news__more.scss */
.content__body__footer__wrap ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 61, ../sass/_pg-news__more.scss */
.content__body__footer__wrap ul li {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 35px;
  position: relative;
}
/* line 67, ../sass/_pg-news__more.scss */
.content__body__footer__wrap ul li:hover {
  opacity: 0.8;
}
/* line 70, ../sass/_pg-news__more.scss */
.content__body__footer__wrap ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 81, ../sass/_pg-news__more.scss */
.content__body__text__index__title {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #9A6A2B;
  font-weight: bold;
  text-align: center;
}
/* line 89, ../sass/_pg-news__more.scss */
.content__body__text__index__sub-title {
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #9A6A2B;
  text-align: center;
  font-weight: normal !important;
  position: relative;
}
/* line 98, ../sass/_pg-news__more.scss */
.content__body__text__index__sub-title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 70px;
  background-color: #9A6A2B;
  transform: translateX(-50%);
}
/* line 110, ../sass/_pg-news__more.scss */
.content__body__text h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 116, ../sass/_pg-news__more.scss */
.content__body__text h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}
/* line 122, ../sass/_pg-news__more.scss */
.content__body__text p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
/* line 127, ../sass/_pg-news__more.scss */
.content__body__text ul {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}
/* line 131, ../sass/_pg-news__more.scss */
.content__body__text ul li {
  padding-left: 60px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  position: relative;
}
/* line 137, ../sass/_pg-news__more.scss */
.content__body__text ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 18px;
  width: 18px;
  background: url("../img/svg/check.svg") no-repeat center;
  background-size: contain;
}
/* line 149, ../sass/_pg-news__more.scss */
.content__body__text ol {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
  counter-reset: num;
}
/* line 154, ../sass/_pg-news__more.scss */
.content__body__text ol li {
  padding-left: 60px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  position: relative;
}
/* line 160, ../sass/_pg-news__more.scss */
.content__body__text ol li:before {
  content: counter(num) ".";
  counter-increment: num;
  position: absolute;
  left: 0;
  top: 0;
  color: #9A6A2B;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
/* line 173, ../sass/_pg-news__more.scss */
.content__body__text table {
  margin-bottom: 20px;
}
/* line 177, ../sass/_pg-news__more.scss */
.content__body__text table tr:nth-child(2n) td {
  background-color: rgba(154, 106, 43, 0.05);
}
/* line 181, ../sass/_pg-news__more.scss */
.content__body__text table tr th {
  background-color: #9A6A2B;
  color: white;
  text-align: center;
  padding: 15px 30px;
  border: 2px solid white;
}
/* line 188, ../sass/_pg-news__more.scss */
.content__body__text table tr td {
  border: 2px solid white;
  background-color: white;
  color: #3D4045;
  text-align: left;
  padding: 15px 30px;
}
/* line 197, ../sass/_pg-news__more.scss */
.content__body__text__table {
  width: 100%;
  overflow: auto;
  position: relative;
}
/* line 202, ../sass/_pg-news__more.scss */
.content__body__text__table-quote {
  font-style: italic;
  text-align: right;
  width: 100%;
  font-size: 20px;
}
/* line 211, ../sass/_pg-news__more.scss */
.content__footer__pages {
  padding: 60px 0;
  background-color: #EEEEEE;
  margin-bottom: 60px;
}
/* line 212, ../sass/_pg-news__more.scss */
.content__footer__pages .row {
  position: relative;
}
/* line 218, ../sass/_pg-news__more.scss */
.content__footer__pages__control {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 223, ../sass/_pg-news__more.scss */
.content__footer__pages__control a:nth-child(1) {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../img/svg/angle-left-b.svg") no-repeat center;
  background-size: contain;
}
/* line 233, ../sass/_pg-news__more.scss */
.content__footer__pages__control a:nth-child(2) {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url("../img/svg/angle-right-b.svg") no-repeat center;
  background-size: contain;
}
/* line 245, ../sass/_pg-news__more.scss */
.content__footer__pages__item {
  padding: 0 50px;
  position: relative;
}
/* line 249, ../sass/_pg-news__more.scss */
.content__footer__pages__time {
  position: relative;
  padding-left: 25px;
  color: #3D4045;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 256, ../sass/_pg-news__more.scss */
.content__footer__pages__time:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url("../img/svg/access_time.svg") no-repeat center;
  background-size: contain;
}
/* line 268, ../sass/_pg-news__more.scss */
.content__footer__pages__par {
  font-size: 26px;
  line-height: 34px;
  color: #3D4045;
  text-align: left;
  margin-bottom: 20px;
}
/* line 275, ../sass/_pg-news__more.scss */
.content__footer__pages ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 282, ../sass/_pg-news__more.scss */
.content__footer__pages ul li {
  display: inline-block;
  margin-right: 15px;
}
/* line 285, ../sass/_pg-news__more.scss */
.content__footer__pages ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #9A6A2B;
}
/* line 290, ../sass/_pg-news__more.scss */
.content__footer__pages ul li a:hover {
  color: #9A6A2B;
  opacity: 0.8;
  text-decoration: none;
}
/* line 299, ../sass/_pg-news__more.scss */
.content__footer__link {
  margin-bottom: 80px;
}
/* line 302, ../sass/_pg-news__more.scss */
.content__footer__link__item > a {
  display: inline-block;
  position: relative;
  min-height: 1px;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
/* line 309, ../sass/_pg-news__more.scss */
.content__footer__link__item > a img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* line 318, ../sass/_pg-news__more.scss */
.content__footer__link__time {
  position: relative;
  padding-left: 25px;
  color: #3D4045;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 325, ../sass/_pg-news__more.scss */
.content__footer__link__time:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url("../img/svg/access_time.svg") no-repeat center;
  background-size: contain;
}
/* line 337, ../sass/_pg-news__more.scss */
.content__footer__link__par {
  font-size: 18px;
  color: #3D4045;
  text-align: left;
  margin-bottom: 20px;
}
/* line 343, ../sass/_pg-news__more.scss */
.content__footer__link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 350, ../sass/_pg-news__more.scss */
.content__footer__link ul li {
  display: inline-block;
  margin-right: 15px;
}
/* line 353, ../sass/_pg-news__more.scss */
.content__footer__link ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #9A6A2B;
}
/* line 358, ../sass/_pg-news__more.scss */
.content__footer__link ul li a:hover {
  color: #9A6A2B;
  opacity: 0.8;
  text-decoration: none;
}

/* ╨б╤В╤А╨░╨╜╨╕╤Ж╨░ ╨Э╨╛╨▓╨╛╤Б╤В╨╕ ╨Я╨╛╨┤╤А╨╛╨▒╨╜╨░╤П */
/* line 1, ../sass/_footer.scss */
.pages-footer {
  background-color: #EEEEEE;
  padding: 50px 0;
}
/* line 4, ../sass/_footer.scss */
.pages-footer .row {
  align-items: center;
}
/* line 7, ../sass/_footer.scss */
.pages-footer .link-mail {
  white-space: nowrap;
}
/* line 9, ../sass/_footer.scss */
.pages-footer .link-mail:hover {
  text-decoration: none;
}
/* line 11, ../sass/_footer.scss */
.pages-footer .link-mail:hover span {
  opacity: 0.8;
}
/* line 15, ../sass/_footer.scss */
.pages-footer .link-mail img {
  display: inline-block;
  margin-right: 15px;
  max-width: 15px;
  max-height: 15px;
}
/* line 21, ../sass/_footer.scss */
.pages-footer .link-mail span {
  display: inline-block;
  text-decoration: underline;
  font-size: 16px;
}
/* line 27, ../sass/_footer.scss */
.pages-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 34, ../sass/_footer.scss */
.pages-footer ul li {
  display: inline-block;
}
/* line 36, ../sass/_footer.scss */
.pages-footer ul li a {
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  color: #3D4045;
}
/* line 44, ../sass/_footer.scss */
.pages-footer__logo {
  width: 80px;
}
/* line 47, ../sass/_footer.scss */
.pages-footer__social {
  position: relative;
}
/* line 48, ../sass/_footer.scss */
.pages-footer__social ul {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
/* line 52, ../sass/_footer.scss */
.pages-footer__social ul li {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 35px;
}
/* line 57, ../sass/_footer.scss */
.pages-footer__social ul li:hover {
  opacity: 0.8;
}
/* line 60, ../sass/_footer.scss */
.pages-footer__social ul li a {
  width: 100%;
  height: 100%;
}
/* line 63, ../sass/_footer.scss */
.pages-footer__social ul li a img {
  max-height: 100%;
}
/* line 70, ../sass/_footer.scss */
.pages-footer__social p {
  position: absolute;
  left: 0;
  top: 60px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}
/* line 79, ../sass/_footer.scss */
.pages-footer__call-back ul {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
/* line 83, ../sass/_footer.scss */
.pages-footer__call-back ul li {
  margin-left: 65px;
}

/* ╨Я╨╛╨┤╨▓╨░╨╗ */
@media screen and (max-width: 1199px) {
  /* line 2, ../sass/_media.scss */
  .header__navigation__group.group__call-back ul {
    flex-direction: column;
    align-items: flex-end;
  }

  /* line 6, ../sass/_media.scss */
  .header__navigation__group .link-mail {
    margin-bottom: 30px;
    padding-right: 20px;
  }

  /* line 10, ../sass/_media.scss */
  .header__navigation__group {
    height: auto;
  }

  /* line 13, ../sass/_media.scss */
  .header__navigation .row {
    align-items: flex-start;
    padding-top: 35px;
  }

  /* line 17, ../sass/_media.scss */
  .header__navigation__group.group__nav-bar .group__nav-bar__separate {
    display: none;
  }

  /* line 20, ../sass/_media.scss */
  .group__nav-bar {
    padding-top: 60px;
  }

  /* line 23, ../sass/_media.scss */
  .header__showing {
    padding: 70px 0;
  }

  /* line 26, ../sass/_media.scss */
  .project-pg__card {
    height: 410px;
  }

  /* line 29, ../sass/_media.scss */
  .project-pg__card:hover .project-pg__card__title {
    font-size: 18px;
    line-height: 22px;
  }

  /* line 33, ../sass/_media.scss */
  .project-pg__card__sub-title {
    font-size: 16px;
  }

  /* line 36, ../sass/_media.scss */
  .news__nav {
    flex-direction: row;
  }

  /* line 39, ../sass/_media.scss */
  .news__nav__rubric {
    width: 50%;
  }

  /* line 42, ../sass/_media.scss */
  .news__nav__teg {
    width: 50%;
    margin-bottom: 50px;
  }

  /* line 46, ../sass/_media.scss */
  .news__content {
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  /* line 51, ../sass/_media.scss */
  .header__navigation__group.group__social {
    order: 2;
    top: -30px;
  }

  /* line 55, ../sass/_media.scss */
  .header__navigation__group.group__call-back {
    order: 1;
  }

  /* line 58, ../sass/_media.scss */
  .group__nav-bar {
    padding-top: 0;
    padding-right: 50px;
    flex-direction: column;
    align-items: flex-start;
  }

  /* line 64, ../sass/_media.scss */
  .mobil-collapse__btn {
    display: inline-block;
  }

  /* line 67, ../sass/_media.scss */
  .header__navigation__group.group__nav-bar ul {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }

  /* line 72, ../sass/_media.scss */
  .header__navigation__group.group__nav-bar ul li {
    position: relative;
    left: -5px;
  }

  /* line 76, ../sass/_media.scss */
  ul.collapse {
    display: none;
  }

  /* line 79, ../sass/_media.scss */
  ul.collapse.show {
    display: flex;
    margin-bottom: 35px;
  }

  /* line 83, ../sass/_media.scss */
  ul.collapsing {
    margin-bottom: 35px;
  }

  /* line 86, ../sass/_media.scss */
  .header__showing {
    padding: 40px 0;
  }

  /* line 89, ../sass/_media.scss */
  .pages-footer__call-back ul {
    flex-direction: column;
  }

  /* line 92, ../sass/_media.scss */
  .pages-footer__call-back ul li {
    margin-bottom: 30px;
  }

  /* line 95, ../sass/_media.scss */
  .pages-footer .row {
    align-items: flex-start;
    padding-top: 35px;
  }

  /* line 99, ../sass/_media.scss */
  .pages-footer__logo {
    position: relative;
    top: -35px;
  }

  /* line 103, ../sass/_media.scss */
  .pages-footer__social ul li {
    flex-shrink: 0;
    margin-right: 25px;
  }

  /* line 107, ../sass/_media.scss */
  .pages-tab__nav__item__link {
    font-size: 28px;
  }

  /* line 110, ../sass/_media.scss */
  .photo-more__time {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }

  /* line 115, ../sass/_media.scss */
  .photo-more .news__content__card__info__teg {
    margin-bottom: 20px;
  }

  /* line 118, ../sass/_media.scss */
  .content__body__photo__item {
    min-width: 50%;
    width: 50%;
  }

  /* line 122, ../sass/_media.scss */
  .video-about p {
    padding: 0 10%;
  }

  /* line 125, ../sass/_media.scss */
  .ico__home {
    font-size: 14px !important;
    color: #3D4045 !important;
    background: none;
  }

  /* line 130, ../sass/_media.scss */
  .header__navigation__group.group__nav-bar ul li {
    padding: 0 5px;
    margin: 0 5px 10px 5px;
  }

  /* line 134, ../sass/_media.scss */
  .modal-dialog {
    max-width: 680px;
  }
}
@media screen and (max-width: 767px) {
  /* line 139, ../sass/_media.scss */
  .header__navigation__group.group__social {
    top: 0;
    order: 1;
    padding: 0;
    align-self: flex-end;
  }

  /* line 145, ../sass/_media.scss */
  .header__navigation__group.group__social ul {
    width: auto;
    margin: 0 auto;
  }

  /* line 149, ../sass/_media.scss */
  .header__navigation__group.group__social ul li {
    margin-right: 15px;
    margin-left: 15px;
  }

  /* line 153, ../sass/_media.scss */
  .header__navigation__group.group__call-back {
    padding: 0;
    margin-top: 15px;
    align-self: flex-end;
  }

  /* line 158, ../sass/_media.scss */
  .header__navigation__group.group__call-back ul {
    width: auto;
    margin: 0 auto;
  }

  /* line 162, ../sass/_media.scss */
  .header__navigation__group.group__call-back ul li {
    margin-left: 0;
  }

  /* line 165, ../sass/_media.scss */
  .header__navigation__group.group__call-back li.breaking-media-collapse {
    display: none;
  }

  /* line 168, ../sass/_media.scss */
  .header__navigation__group .link-mail {
    margin-bottom: 0;
  }

  /* line 171, ../sass/_media.scss */
  .header__navigation .row {
    min-height: 230px;
    flex-direction: column;
    justify-content: space-between;
  }

  /* line 176, ../sass/_media.scss */
  .group__nav-bar {
    padding: 0 15px;
    flex-grow: 1;
  }

  /* line 180, ../sass/_media.scss */
  .btn-mail.breaking-media-show {
    display: inline-block;
  }

  /* line 183, ../sass/_media.scss */
  .pages-tab__nav__item__link {
    font-size: 26px;
  }

  /* line 186, ../sass/_media.scss */
  .news__content__card__img {
    width: 45%;
  }

  /* line 189, ../sass/_media.scss */
  .news__content__card__info {
    padding: 0 0 0 20px;
  }

  /* line 192, ../sass/_media.scss */
  .news__content__card__info__time {
    margin-bottom: 10px;
  }

  /* line 195, ../sass/_media.scss */
  .news__content__card__info__par {
    margin-bottom: 10px;
  }

  /* line 198, ../sass/_media.scss */
  .news__nav__rubric {
    padding: 10px;
  }

  /* line 201, ../sass/_media.scss */
  .news__nav__teg {
    padding: 10px 15px;
  }

  /* line 204, ../sass/_media.scss */
  .photo-more__title {
    font-size: 26px;
  }

  /* line 207, ../sass/_media.scss */
  .content__body__text h3 {
    font-size: 22px;
  }

  /* line 210, ../sass/_media.scss */
  .content__body__text h4 {
    font-size: 22px;
  }

  /* line 213, ../sass/_media.scss */
  .content__body__title {
    font-size: 24px;
  }

  /* line 216, ../sass/_media.scss */
  .content__body__text table tr th {
    min-width: 144px;
  }

  /* line 219, ../sass/_media.scss */
  .content__footer__pages__par {
    font-size: 20px;
    line-height: 24px;
  }

  /* line 223, ../sass/_media.scss */
  .content__footer__link__par {
    font-size: 20px;
  }

  /* line 226, ../sass/_media.scss */
  .video-about p {
    padding: 0 5%;
  }

  /* line 229, ../sass/_media.scss */
  ul.collapse.show {
    display: flex;
    margin-bottom: 5px;
  }

  /* line 233, ../sass/_media.scss */
  .modal-dialog {
    max-width: 540px;
  }
}
@media screen and (max-width: 574px) {
  /* line 239, ../sass/_media.scss */
  body a {
    font-size: 16px;
  }
  /* line 242, ../sass/_media.scss */
  body p {
    font-size: 16px;
  }
  /* line 245, ../sass/_media.scss */
  body span {
    font-size: 16px;
  }
  /* line 248, ../sass/_media.scss */
  body h1 {
    font-size: 32px;
    line-height: 46px;
  }
  /* line 252, ../sass/_media.scss */
  body h2 {
    font-size: 24px;
    line-height: 32px;
  }
  /* line 256, ../sass/_media.scss */
  body h3 {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 260, ../sass/_media.scss */
  body h4 {
    font-size: 17px;
    line-height: 22px;
  }
  /* line 264, ../sass/_media.scss */
  body h5 {
    font-size: 16px;
    line-height: 20px;
  }
  /* line 268, ../sass/_media.scss */
  body h6 {
    font-size: 14px;
    line-height: 18px;
  }

  /* line 273, ../sass/_media.scss */
  .pages-nav__bar .control__left, .pages-nav__bar .control__right {
    margin: 0px 20px;
  }

  /* line 276, ../sass/_media.scss */
  .pages-nav__bar ul li {
    height: 28px;
    width: 28px;
  }

  /* line 280, ../sass/_media.scss */
  .pages-nav__bar ul li a {
    line-height: 24px;
  }

  /* line 283, ../sass/_media.scss */
  .header__showing h1 {
    padding: 10px 40px;
  }

  /* line 286, ../sass/_media.scss */
  .header__navigation .row {
    width: 100%;
    margin: 0;
    padding-top: 10px;
  }

  /* line 291, ../sass/_media.scss */
  .header__navigation {
    padding: 20px 0;
  }

  /* line 294, ../sass/_media.scss */
  .header__navigation__group.group__nav-bar ul {
    background-color: white;
    position: relative;
    top: -50px;
    padding-top: 70px;
    margin-bottom: 0;
  }

  /* line 301, ../sass/_media.scss */
  .pages-footer__logo {
    margin: 0 auto;
    top: 0;
  }

  /* line 305, ../sass/_media.scss */
  .pages-footer .row {
    padding-top: 0;
  }

  /* line 308, ../sass/_media.scss */
  .pages-footer {
    padding: 35px 0;
  }

  /* line 311, ../sass/_media.scss */
  .pages-footer__social ul {
    width: auto;
    margin: 0 auto;
    justify-content: center;
  }

  /* line 316, ../sass/_media.scss */
  .pages-footer__social ul li {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 320, ../sass/_media.scss */
  .pages-footer__social {
    margin: 20px 0;
  }

  /* line 323, ../sass/_media.scss */
  .pages-footer__social p {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
  }

  /* line 331, ../sass/_media.scss */
  .pages-footer__call-back ul li {
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* line 335, ../sass/_media.scss */
  .pages-tab__nav__item__link {
    font-size: 18px;
  }

  /* line 338, ../sass/_media.scss */
  .pages-tab__nav label {
    margin: 0 15px;
  }

  /* line 341, ../sass/_media.scss */
  .video-about__container {
    padding: 0 15px;
  }

  /* line 344, ../sass/_media.scss */
  .video-about p {
    padding: 0 15px;
  }

  /* line 347, ../sass/_media.scss */
  .header__breadcrumbs__wrapp {
    height: auto;
    padding: 10px 0;
  }

  /* line 351, ../sass/_media.scss */
  .news__nav {
    flex-direction: column;
  }

  /* line 354, ../sass/_media.scss */
  .news__nav__rubric {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 358, ../sass/_media.scss */
  .news__nav__teg {
    width: 100%;
  }

  /* line 361, ../sass/_media.scss */
  .news__content__card {
    flex-direction: column;
  }

  /* line 364, ../sass/_media.scss */
  .news__content__card__img {
    width: 100%;
    margin-bottom: 15px;
    max-height: 200px;
    overflow: hidden;
  }

  /* line 370, ../sass/_media.scss */
  .news__content__card__info {
    padding: 0;
  }

  /* line 373, ../sass/_media.scss */
  .content__body__photo__item {
    min-width: 100%;
    width: 100%;
    padding: 0;
  }

  /* line 378, ../sass/_media.scss */
  .content__body__text h3 {
    font-size: 20px;
  }

  /* line 381, ../sass/_media.scss */
  .content__body__text p {
    font-size: 16px;
  }

  /* line 384, ../sass/_media.scss */
  .content__body__quotes p {
    font-size: 20px;
  }

  /* line 387, ../sass/_media.scss */
  .video-about p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
  }

  /* line 392, ../sass/_media.scss */
  .video-about {
    margin-bottom: 40px;
  }

  /* line 395, ../sass/_media.scss */
  .content__body__text ul li {
    padding-left: 40px;
  }

  /* line 398, ../sass/_media.scss */
  .content__body__text ol li {
    padding-left: 40px;
  }

  /* line 401, ../sass/_media.scss */
  .content__body__title {
    font-size: 22px;
  }

  /* line 404, ../sass/_media.scss */
  .content__body__text table tr th {
    min-width: auto;
  }

  /* line 407, ../sass/_media.scss */
  .content__body__footer__wrap {
    flex-direction: column;
    align-items: center;
  }

  /* line 411, ../sass/_media.scss */
  .content__body__footer__wrap span {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }

  /* line 416, ../sass/_media.scss */
  .content__body__footer__wrap ul li {
    margin-right: 15px;
    margin-left: 15px;
  }

  /* line 420, ../sass/_media.scss */
  .content__footer__link__item {
    margin-bottom: 30px;
  }

  /* line 423, ../sass/_media.scss */
  .content__footer__link {
    margin-bottom: 20px;
  }

  /* line 426, ../sass/_media.scss */
  .content__footer__pages__item {
    margin-bottom: 40px;
  }

  /* line 429, ../sass/_media.scss */
  .video-about p {
    padding: 0 15px;
  }

  /* line 432, ../sass/_media.scss */
  .modal__form {
    padding: 0;
  }

  /* line 435, ../sass/_media.scss */
  .modal-header {
    padding-bottom: 20px;
  }

  /* line 438, ../sass/_media.scss */
  .modal-title {
    font-size: 30px;
    line-height: 38px;
  }

  /* line 442, ../sass/_media.scss */
  .modal__form__item {
    margin-bottom: 15px;
  }

  /* line 445, ../sass/_media.scss */
  .modal__form__item__wrap.file-input .modal__form__item__wrap__label {
    width: calc(100% + 2px);
    position: absolute;
    left: -1px;
    top: 100%;
  }

  /* line 451, ../sass/_media.scss */
  .modal__form__item__wrap.file-input {
    margin-bottom: 50px;
  }
}
/* ╨Ь╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤А╨╛╤Б╤Л */
