button, button:active, button:hover, button:visited,button:focus{
   outline: none!important;
   cursor: pointer;
 }
.btn{
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.btn-ghost{
  font-size: 18px!important;
  line-height: 18px!important;
  color: $c-text-d;
  border: 2px solid $c-brown;
  border-radius: 20px;
  background-color: transparent;
  padding: 9px 30px;
  &:hover{
    background-color: $c-brown;
    color: white;
  }
}
.btn-mail{
  height: 20px;
  width: 22px;
  background: url("../img/svg/envelope.svg")no-repeat center;
  background-size: contain;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 0;
  display: none;
  z-index: 1;
  &:hover{
    opacity: 0.8;
  }
}
.mobil-collapse__btn{
  display: none;
  border: none;
  outline: none;
  &.collapsed{
    background: url("../img/svg/menu.svg")no-repeat transparent center;
    background-size: contain;
  }
  background: url("../img/svg/close.svg")no-repeat transparent center;
  background-size: contain;
  height: 15px;
  width: 25px;
  flex-shrink: 0;
  z-index: 1;
  &:hover,&:focus{
    border: none;
    outline: none;
  }
}