.header{
  &__navigation{
    padding: 30px 15px;
    .row{
      position: relative;
    }
    &__logo{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 80px;
    }
    &__group{
      height: 76px;
      display: flex;
      align-items: center;
      .link-mail{
        white-space: nowrap;
        &:hover{
          text-decoration: none;
          span{
            opacity: 0.8;
          }
        }
        img{
          display: inline-block;
          margin-right: 15px;
          max-width: 15px;
          max-height: 15px;
        }
        span{
          display: inline-block;
          text-decoration: underline;
          font-size: 16px;
        }
      }
      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        li{
          display: inline-block;
          a{
            display: inline-block;
            font-size: 14px;
            line-height: 19px;
            color: $c-text-d;
            white-space: nowrap;
          }
        }
      }
      &.group{
        &__social{
          padding-right: 50px;
          ul{
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            li{
              width: 20px;
              height: 20px;
              position: relative;
              margin-right: 35px;
              &:hover{
                opacity: 0.8;
              }
              a{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        &__call-back{
          padding-left: 50px;
          ul{
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            li{
              margin-left: 65px;
              a{

                img{

                }
              }
            }
          }
        }
        &__nav-bar{
          .group__nav-bar__separate{
            width: 100px;
            flex-grow: 1;
            &:hover{
              border: none;
            }
          }
          ul{
            width: 100%;
            justify-content: space-between;
            align-items: center;
            li{
              margin: 0 5px;
              padding: 0 5px 10px 5px;
              position: relative;
              border-bottom: 2px solid transparent;
              &.active{
                border-bottom: 2px solid $c-brown;
              }
              &:hover{
                border-bottom: 2px solid $c-brown;
                opacity: 0.8;
              }
              img{
                height: 100%;
              }
              a{
                min-width: 20px;
                min-height: 15px;
                position: relative;
                height: 100%;
                text-transform: uppercase;
                font-weight: bold;
                &:hover{
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &__showing{
    position: relative;
    padding: 145px 0 105px 0;
    background-color: black;
    h1{
      display: inline-block;
      margin: 0 auto;
      color: white;
      padding: 15px 80px;
      border-bottom: solid 1px white;
      border-top: solid 1px white;
      text-transform: uppercase;
      position: relative;
    }
    &__bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      &.bg-project{
        background: url("../img/ekaterinburg-3423344_CC0 Creative Commons.jpg")no-repeat black center 30%;
        background-size: cover;
        opacity: 0.8;
      }
      &.bg-media{
        background: url("../img/ekaterinburg-3423336_CC0 Creative Commons.jpg")no-repeat black center 30%;
        background-size: cover;
        opacity: 0.8;
      }
      &.bg-news{
        background: url("../img/businessman-1197567_CC0 Creative Commons.jpg")no-repeat black center 30%;
        background-size: cover;
        opacity: 0.8;
      }
    }
  }
  &__breadcrumbs{
    background-color: #EEEEEE;
    &__wrapp{
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
    }
    &__crumbs{
      max-width: 80%;
      ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        li{
          margin-right: 22px;
          margin-bottom: 0;
          position: relative;
          &:last-of-type{
            &:after{
              width: 0;
            }
          }
          &:after{
            content: "";
            position: absolute;
            width: 7px;
            height: 100%;
            top: 50%;
            right: -15px;
            transform: translateY(-45%);
            background: url("../img/svg/angle-right.svg")no-repeat center;
            background-size: contain;
          }
          a{
            font-size: 16px;
            line-height: 22px;
            color: $c-text-d;
            text-decoration: underline;
            &:hover{
              color: $c-text-d;
              opacity: 0.8;
            }
          }
        }
      }
    }
    &__search{
      display: inline-block;
      a{
        width: 18px;
        height: 18px;
        display: inline-block;
        position: relative;
        img{
          max-height: 100%;
        }
      }
    }
  }
}