@import "var"; /* Переменные */
@import "mixin"; /* Миксины */
@import "btn"; /* Кнопки */
@import "ico"; /* Иконки */
@import "modal"; /* Модальное окно */
body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  overflow-x: hidden;
  a{
    color: $c-text-d;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
  }
  p{
    color: $c-text-d;
    font-size: 16px;
    line-height: 22px;
  }
  span{
    color: $c-text-d;
    font-size: 16px;
    line-height: 22px;
  }
  h1{
    color: $c-text-d;
    font-size: 40px;
    line-height: 53px;
  }
  h2{
    color: $c-text-d;
    font-size: 24px;
    line-height: 32px;
  }
  h3{
    color: $c-text-d;
    font-size: 18px;
    line-height: 24px;
  }
  h4{
    color: $c-text-d;
    font-size: 17px;
    line-height: 22px;
  }
  h5{
    color: $c-text-d;
    font-size: 16px;
    line-height: 20px;
  }
  h6{
    color: $c-text-d;
    font-size: 14px;
    line-height: 18px;
  }
} /* Стиль по умолчанию */
@import "header"; /* Шапка */
@import "project"; /* Страница Проекты  */
@import "pg-media"; /* Страница Медиа */
@import "pg-photo"; /* Страница Фото */
@import "pg-news"; /* Страница Новости */
@import "pg-news__more"; /* Страница Новости Подробная */
@import "footer"; /* Подвал */
@import "media"; /* Медиа запросы */
